body
  text-align center;
  margin 0 auto;
  width 970px;
canvas
  border 1px solid green
.shot-canvas
  background #000
  border 2px solid red;
  width 500px
  height 300px
  overflow hidden
@css {
  .drag {
    *background: #fff
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha( opacity=50 )
  }
}